@model ProjectsViewModel
@{
	ViewData["Title"] = "Projects";
}

@await Html.PartialAsync("Partials/Sections/_AddProjectForm", Model.AddProjectFormData)
@await Html.PartialAsync("Partials/Sections/_EditProjectForm", Model.EditProjectFormData)

<!--section id="projects" class="page"-->
<section id="projects">
	<header>
		<h2>@ViewData["Title"]</h2>
		@* <i class="fa-regular fa-ellipsis" data-modal="true" data-target="#editProjectModal"></i> *@
		<button type="button" data-modal="true" data-target="#addProjectModal" class="btn btn-add btn-blue">Add Project</button>
	</header>

	<div class="project-list">

		@if (Model.Projects != null && Model.Projects.Any())
		{
			@foreach(var project in Model.Projects)
			{
				@await Html.PartialAsync("Partials/ListItems/_ProjectListItem", project)
			}
		}
	</div>

</section>
