<div id="addMemberModal" class="modal">
	<div class="modal-content">
		<div class="modal-header">
			<h3>Add Member</h3>
			<button class="btn-close" data-close="true"></button>

			<form novalidate method="post" asp-action="AddMember" asp-controller="Admin">
			</form>

		</div>
	</div>
</div>
