@model AddProjectViewModel

<div id="addProjectModal" class="modal">
	<div class="modal-content">

		<div class="modal-header">
			<h3>Add Project</h3>
			<button class="btn-close" data-close="true"></button>
		</div>

		<form novalidate method="post" asp-action="AddProject" asp-controller="ProjectsPost">
			
			<div class="image-previewer circle">
				<img src="" class="image-preview" />
				<input asp-for="Image" accept="image/*" class="hide" />
			</div>
			
			<div class="form-group">
				<label asp-for="ProjectName"></label>
				<div class="field-group">
					<input asp-for="ProjectName" />
					<span asp-validation-for="ProjectName"></span>
				</div>
			</div>
			<div class="form-group">
				<label asp-for="ClientName"></label>
				<div class="field-group">
					<input asp-for="ClientName" />
					<span asp-validation-for="ClientName"></span>
				</div>
			</div>

			@* <label class="form-label">Testing</label>
			<select class="form-select">
				<option value="">Choose no 1</option>
				<option value="">Choose no 2</option>
				<option value="">Choose no 3</option>	
			</select> *@

			@* <div class="form-group">
				<label class="form-label">Client</label>
				<div class="form-select" data-placeholder="Choose a client">
					<button type="button" class="form-select-trigger">
						<span class="form-select-text"></span>
					</button>
					<ul class="form-select-options">
						<li class="form-select-option" data-value="1">Client 1</li>
						<li class="form-select-option" data-value="2">Client 2</li>
					</ul>
					<input type="hidden" name="client-select-value" />
				</div>
			</div> *@

			<div class="form-group">
				<label asp-for="Description"></label>
				<div class="field-group">
					<textarea type="text" asp-for="Description" ></textarea>
					<span asp-validation-for="Description"></span>
				</div>
			</div>
			<div class="form-horizontal-group">
				<div class="form-group">
					<label asp-for="StartDate"></label>
					<div class="field-group">
						<input type="date" asp-for="StartDate" />
						<span asp-validation-for="StartDate"></span>
					</div>
				</div>			
				<div class="form-group">
					<label asp-for="EndDate"></label>
					<div class="field-group">
						<input type="date" asp-for="EndDate" />
						<span asp-validation-for="EndDate"></span>
					</div>
				</div>
			</div>
			
			<!--div class="form-group">
				<label asp-for="Member"></label>
				<div class="field-group">
					<input asp-for="Member" />
					<span asp-validation-for="Member"></span>
				</div>
			</div-->

			<div class="form-group">
				<label asp-for="Budget"></label>
				<div class="field-group form-input-extended">
					<i class="fa-duotone fa-solid fa-dollar-sign"></i>
					<input class="indent" type="currency" asp-for="Budget" />
					<span asp-validation-for="Budget"></span>
				</div>
			</div>
				
			<button type="submit" class="btn btn-submit btn-blue">Create</button>
		</form>	

	</div>
</div>